language: python
python:
    - "3.8"

cache:
    pip: true

install:
    - pip install .
    - pip install -r dev-requirements.txt
    - cd .. && git clone https://github.com/NextCenturyCorporation/AIDA-Interchange-Format.git && cd AIDA-Interchange-Format/python && python setup.py install && cd ../../aida-viz


jobs:
    include:
        - stage: test
          script:
              - echo "python version $(python --version) running"
              - echo "pip version $(pip --version) running"
              - make check
